body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100%;
}

.map {
  height: 100%;
}

.map .leaflet-container {
  height: 100%;
}

.footer {
  z-index: 999;
  position: absolute;
  bottom: 35px;
  left: 5px;
  padding: 5px;
}